<template name="enterPasswordModal">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Enter your password to decrypt</h4>
                </div>

                <div class="modal-body">
                    {{> quickForm schema="EnterPasswordForm" id="enterPasswordForm"}}
                </div>
            </div>
        </div>
    </div>
</template>