{
    "public": {
        "googleApiKey": "",
        "fileMaxSize": 26214400,
        "defaultMapCoordinates": {
            "lat": 48.856874,
            "lng": 2.336285
        }
    },
    "owner": {
        "emailAddress": ""
    }
}