/*
    Customization of libraries
*/
.s-alert {
    &-success {
        background-color: #1D9E74;
    }

    &-warning {
        background-color: #cbb04a;
    }

    &-error {
        background-color: #9E1D1D;
    }
}