/*
    Customization of libraries
*/
// sAlert
.s-alert {
    &-success {
        background-color: #1D9E74;
    }

    &-warning {
        background-color: #cbb04a;
    }

    &-error {
        background-color: #9E1D1D;
    }
}

// Bootstrap
.label {
    &-sober {
        color: #777;
        background-color: #fff;
    }
}

.fa.media-object {
    width: 64px;
    height: 64px;
    line-height: 64px;
    font-size: 26px;
    background: #EEEEEE;
    color: #AAAAAA;
}

.table {
    &-vertical-middle > tbody > tr > td {
        vertical-align: middle;
    }
}