<template name="accounts">
    <p>
        Currently {{usersCount}} member{{pluralize usersCount}}
    </p>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Role</th>
            <th>Email</th>
            <th>Active</th>
            <th>Disabled</th>
            <th class="hidden-xs">Created</th>
            <th class="hidden-xs">Last connection</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {{#each this}}
            <tr>
                <td>
                    {{#if isAdmin}}
                        <span class="label label-primary">Admin</span>
                    {{else}}
                        <span class="label label-sober">Member</span>
                    {{/if}}
                </td>
                <td>{{emailAddress}}</td>
                <td>
                    {{#if isActivated}}
                        <span class="label label-success">Yes</span>
                    {{else}}
                        <span class="label label-danger">No</span>
                    {{/if}}
                </td>
                <td>
                    {{#if isDisabled}}
                        <span class="label label-danger">Yes</span>
                    {{else}}
                        <span class="label label-success">No</span>
                    {{/if}}
                </td>
                <td class="hidden-xs">
                    {{formatDate createdAt}}
                </td>
                <td class="hidden-xs">
                    {{formatDate lastConnectionAt}}
                </td>
                <td>
                    <button class="disable-action btn btn-xs {{#if isDisabled}}btn-success{{else}}btn-danger{{/if}}">
                        {{#if isDisabled}}Enable{{else}}Disable{{/if}}
                    </button>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</template>