<template name="deleteLoginModal">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete</h4>
                </div>

                <div class="modal-body">
                    <p>
                        Are you sure you want to delete login data of <b>{{domain}}</b> ?
                    </p>

                    <button class="btn btn-danger">Confirm deletion</button>
                </div>
            </div>
        </div>
    </div>
</template>