<template name="showLoginModal">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Login info</h4>
                </div>

                <div class="modal-body">
                    <dl class="dl-horizontal">
                        <dt>Domain</dt>
                        <dd>{{domain}}</dd>

                        <dt>Identifier</dt>
                        <dd>{{identifier}}</dd>

                        <dt>Password</dt>
                        <dd>{{password}}</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</template>