<template name="addFileHosting">
    <h1>
        Add a file
        <a class="btn btn-default pull-right" href="{{pathFor 'hosting' query=previousFolderAsObject}}"><i
                class="fa fa-arrow-left"></i> Back to list</a>
    </h1>

    <p class="help-block">
        File max size limited to 25Mb.
    </p>

    {{#autoForm collection="HostingFiles" schema="InsertHostingFilesForm" id="insertHostingFilesForm" type="insert"}}
        {{> afQuickField name="name"}}
        {{> afQuickField name="file"}}
        {{> afQuickField name="encrypted"}}

        {{#if needsEncryption}}
            {{> submitIfSessionKeys}}
        {{else}}
            <button type="submit" class="btn btn-primary">Submit</button>
        {{/if}}
    {{/autoForm}}
</template>