<template name="listHosting">
    <table class="table table-hover">
        <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th class="hidden-xs">Type</th>
            <th class="hidden-xs">Size</th>
            <th class="hidden-xs">Date</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {{#each this}}
            <tr>
                <td style="width: 24px;">
                    {{#if isFolder}}
                        <i class="fa fa-lg fa-fw fa-folder" style="color: #E8C842;" title="Folder"></i>
                    {{else}}
                        {{#with fileTypeToIcon}}
                            <i class="fa fa-lg fa-fw fa-{{icon}}" style="{{#if color}}color: {{color}};{{/if}}"></i>
                        {{/with}}
                    {{/if}}
                </td>
                <td>
                    {{#if isFolder}}
                        <a href="{{pathFor route='hosting' query=nextFolderAsObject}}">{{name}}</a>
                    {{else}}
                        {{#if encrypted}}
                            <a class="decrypt">{{name}}</a>
                        {{else}}
                            <a href="{{file.url}}" target="_blank">{{name}}</a>
                        {{/if}}
                    {{/if}}
                </td>
                <td class="text-muted hidden-xs">
                    {{#unless isFolder}}
                        {{#with fileTypeToIcon}}
                            {{title}}
                        {{/with}}
                    {{/unless}}
                </td>
                <td class="hidden-xs">
                    {{#unless isFolder}}
                        {{fileSize}}
                    {{/unless}}
                </td>
                <td class="hidden-xs">
                    {{#unless isFolder}}
                        {{formatDate createdAt}}
                    {{/unless}}
                </td>
                <td>
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                            Actions <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            {{#unless isFolder}}
                                <li class="information-action"><a><i class="fa fa-fw fa-info"></i> Information</a></li>
                            {{/unless}}
                            <li class="update-action"><a><i class="fa fa-fw fa-pencil"></i> Edit</a></li>
                            <li class="move-action"><a><i class="fa fa-fw fa-arrows"></i> Move</a></li>
                            <li class="delete-action"><a><i class="fa fa-fw fa-trash-o"></i> Delete </a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>

    {{#if isEmpty this}}
        <p class="text-muted">
            There is nothing in this folder.
        </p>
    {{/if}}
</template>