<template name="index">
    {{#if currentUser}}
    <div class="row-grid" style="margin-top: 15px;">
        <a href="{{pathFor 'places.nearby'}}" class="btn btn-primary">
            Nearby places
        </a>
        <button id="forget-session-keys" class="btn btn-default pull-right" {{forgetSessionKeysDisabled}}>
            Forget keys
        </button>
    </div>
    {{/if}}

    <h1>Uses</h1>

    <div class="row">
        {{#each uses}}
        {{> featureIndex}}
        {{/each}}
    </div>

    <h1>Features</h1>

    <div class="row">
        {{#each features}}
        {{> featureIndex}}
        {{/each}}
    </div>
</template>

<template name="featureIndex">
    <div class="col-sm-6 col-md-4">
        <div class="media" style="margin-bottom: 20px;">
            <div class="media-left">
                <i class="media-object fa fa-fw fa-{{icon}}"></i>
            </div>
            <div class="media-body">
                <h3 class="media-heading">{{title}}</h3>
                {{{description}}}
            </div>
        </div>
    </div>
</template>