<template name="listPlaces">
    <table class="table table-hover table-vertical-middle">
        <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th class="hidden-xs">Address</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {{#each this}}
        <tr>
            <td style="width: 32px;">
                {{#with category}}
                <div class="leaflet-icon leaflet-icon-xs" style="background-color:{{color}};"><i
                        class="fa fa-{{icon}}"></i></div>
                {{/with}}
            </td>
            <td>
                {{name}}
            </td>
            <td class="hidden-xs">
                {{address}}
            </td>
            <td>
                <a class="btn btn-xs btn-default pull-right" href="{{pathFor route='places.edit' data=updateLinkData}}">
                    <i class="fa fa-fw fa-pencil"></i> Edit
                </a>
            </td>
        </tr>

        {{#if isSelected}}
        <tr id="extended-description">
            <td class="no-border"></td>
            {{#if rwindow.screen 'eq' 'xsmall'}}
            <td class="no-border" colspan="2">
                <p>
                    <b>Address</b> : {{address}}
                </p>

                {{#if text}}
                <p>
                    <b>Text</b> :
                    {{nl2br text}}
                </p>
                {{/if}}
            </td>
            {{else}}
            <td class="no-border" colspan="3">
                {{#if text}}
                <p>
                    <b>Text</b> :
                    {{nl2br text}}
                </p>
                {{/if}}
            </td>
            {{/if}}
        </tr>
        {{/if}}
        {{/each}}
        </tbody>
    </table>

    {{#if isEmpty this}}
    <p class="text-muted">
        There is no place corresponding to your search.
    </p>
    {{/if}}
</template>