<template name="logins">
    <div class="row-grid">
        <a href="{{pathFor 'logins.add'}}" class="btn btn-default">
            New login
        </a>
        <button id="forget-session-keys" class="btn btn-default pull-right" {{forgetSessionKeysDisabled}}>
            Forget keys
        </button>
    </div>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Domain</th>
            <th class="hidden-xs">Identifier</th>
            <th class="hidden-xs">Password</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {{#each this}}
            <tr>
                <td>{{domain}}</td>
                <td class="hidden-xs">{{identifier}}</td>
                <td class="hidden-xs">********</td>
                <td>
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                            Actions <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li class="show-action"><a><i class="fa fa-fw fa-eye"></i> Show</a></li>
                            <li class="update-action"><a><i class="fa fa-fw fa-pencil"></i> Edit</a></li>
                            <li class="delete-action"><a><i class="fa fa-fw fa-trash-o"></i> Delete</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>

    {{#if isEmpty this}}
        <p class="text-muted">
            There is no login registered for now.
        </p>
    {{/if}}
</template>