<template name="places">
    <div class="row row-grid">
        <div class="col-md-6">
            <form class="input-group" name="search">
                <input type="text" class="form-control" placeholder="Search..." value="{{searchQuery}}">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Search</button>
                </span>
            </form>
        </div>
    </div>

    <div class="row-grid">
        <a href="{{pathFor 'places.add'}}" class="btn btn-default">
            New place
        </a>
        <a href="{{pathFor 'places.categories'}}" class="btn btn-default">
            Categories
        </a>
        <a href="{{pathFor 'places.nearby'}}" class="btn btn-primary pull-right">
            Nearby places
        </a>
    </div>

    {{#if isSearching}}
    {{> listPlaces places}}
    {{/if}}

    <div id="map"
         style="min-height: 300px; height: 100vh; max-height: 700px;{{#if isSearchingAndLoaded}}display: none;{{/if}}"></div>
</template>